@import "../../styles/base/variables.scss";
@import "../../styles/base/responsiveMixin.scss";

.SortingVisualizer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  .DiagramContainer {
    // border: 2px gray solid;
    margin: auto;
    height: 90%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-end;

    // background-color: gold;
  }

  .sortResult {
    position: absolute;
    height: 90%;
    bottom: 0;
    z-index: 2;
    opacity: 0.3;
  }
  .promptContainer {
    position: absolute;
    z-index: 3;
    top: 30%;

    left: 15%;
    opacity: 0;
    // background-color: red;

    h1,
    h2 {
      margin: 20px 0;
    }

    &-showPrompt {
      opacity: 0.35;
      transition: opacity 3s ease;
    }

    @include atMedium {
      top: 25%;
      left: 80px;
    }

    @include atSmall {
      top: 20%;
      left: 22px;
    }
  }
}
